
.vs/ChatServer/v16/Server/sqlite3/db.lock
.vs/ChatServer/v16/Server/sqlite3/storage.ide
.vs/ChatServer/v16/Server/sqlite3/storage.ide-shm
.vs/ChatServer/v16/Server/sqlite3/storage.ide-wal
ChatServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ChatServer/obj/Debug/ChatServer.csprojAssemblyReference.cache
.vs/ChatServer/v16/.suo
ChatServer/bin/Debug/ChatServer.exe
ChatServer/bin/Debug/ChatServer.exe.config
ChatServer/bin/Debug/ChatServer.pdb
ChatServer/obj/Debug/ChatServer.csproj.FileListAbsolute.txt
ChatServer/obj/Debug/ChatServer.exe
ChatServer/obj/Debug/ChatServer.pdb
ChatServer/obj/Release/ChatServer.csproj.FileListAbsolute.txt
ChatServer/obj/Release/ChatServer.csprojAssemblyReference.cache
ChatServer/obj/Release/ChatServer.pdb
ChatServer/bin/Release/ChatServer.pdb
